body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.boite1 {
    padding-left: 1rem;
    border-left: 1px solid rgb(76, 75, 75);
}

.boite2 {
    padding-left: 1.3rem;
    border-left: 1px solid rgb(76, 75, 75);
    border-top: 1px solid rgb(76, 75, 75);
    border-bottom: 1px solid rgb(76, 75, 75);
    max-width: 60%;
}

.boite3 {
    border: 1px solid rgb(76, 75, 75);
    margin-bottom: 1rem;
}

header {
    padding: 0px;
    font-size: 14px;
    /* margin-bottom: 0px;   Ne fonctionne pas */
    /* border: 0cap;
    margin: 0%; */
}

.subheader {
    font-size: 18px;
    margin-top: 0%;
    padding: 0px;
}

.article1 {
    font-size: 12px;
    color: rgb(98, 97, 97);
    font-style: italic;
}

.article2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(64, 64, 64);

}

.article3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(98, 97, 97);
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: rgb(27, 27, 65);

    color: white;
    font-weight: 800;
    display: flex;
    word-spacing: 1.7rem;
    padding-inline-start: 0.5rem;
    height: 2rem;
}

nav.navinnav {
    padding: 4px;
    color: rgb(21, 21, 208);
    background-color: white;
    align-items: center;
    margin-bottom: 0px;
    display: flex;
    flex-grow: 1;
    max-width: 200px;
    justify-content: space-between;
}

.menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-right: 0.25rem;
    font-size: 10px;
}

.menu item a {
    color: white;
    text-decoration: none;
}

i {
    padding: 2px;
    padding-right: 5px;
}

div.actions {
    display: flex;
    align-items: center;
    min-width: 120px;
    padding-right: 2px;
    justify-content: space-between;
}



.chevron {
    color: rgb(84, 83, 83);
    font-weight: bold;
}

/* nav.navinnav item:not(:last-child)::after {
    content: '>';
    padding-left: 5px;
} */


.button1 {
    color: white;
    background-color: rgb(179, 13, 13);
    min-width: 3rem;
    border-radius: 5px;
    margin: 5px 2px 5px 2px;
    padding: 2px 2px 2px 2px;
    font-size: small;
}

.button2 {
    background: none;
    color: white;
}

select {
    background: none;
    color: white;
    border: none;
    font-size: smaller;
}

.button3 {}

.logo {
    width: 5rem;
    padding: 5px;
    padding-right: 2rem;

}

article {
    display: flex;
}

@media (max-width: 579px) {
    .article2 {
        flex-direction: column-reverse;
    }
}