body {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    /* color: black;
    font-family: Georgia, 'Times New Roman', Times, serif; */
    margin-top: 10px;
    font-size: 24px;
}

.subheader {
    font-size: 16px;
    font-stretch: semi-condensed;
}

.article1 {
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-size: 12px;
    color: rgb(98, 97, 97);
    font-style: italic;
}

.article2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(64, 64, 64);

}

.article3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(98, 97, 97);
}

nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: rgb(27, 27, 45);
    color: azure;

    display: flex;
}

.menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.menu item a {
    color: white;
}

i {
    padding: 2px;
    padding-right: 5px;
}

.actions {}

nav.navinnav {
    padding: 5px;
    color: rgb(36, 36, 130);
    background-color: white;
}

nav.navinnav item:not(:last-child)::after {
    content: '>';
    padding-left: 5px;
}

.chevron {
    color: black;
}

.button1 {}

.button2 {}

.button3 {}

.logo {
    width: 5rem;
    padding: 5px;
}

article {
    display: flex;
}

@media (max-width: 579px) {
    .article2 {
        flex-direction: column-reverse;
    }
}